/*
-------------------------------------------
ORGAN STUDIO WEBSITE
------------------------------------------- */

/*------------------------------------------
ENTIRE PAGE
--------------------------------------------*/
/* Styles for container of both video and content */
body {
  /* Styles for background*/
  background-color: rgb(255, 255, 255);

  /* Styles for type */
  font-family: 'TheinhardtRegular', sans-serif;
  font-size: 20.5px;
  line-height: 24.5px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  letter-spacing: 0.05em;
  overflow: hidden;
  cursor: default;
}

body.second-screen {
  overflow: auto;
}

/* Styles for container that holds all content on the page */
.container {
  min-height: 100vh;
}

/* Style for images */
img {
  width: 100%;
}

/* Styles for links */
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Styles for links on hover */
a:hover {
  color: rgb(128, 128, 128);
  cursor: pointer;
}

/*---------------------------------------------
VIDEO PLAYER
----------------------------------------------*/
/* Styles for video player container that holds the video */
.player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Styles for video player*/
.video {
  overflow: hidden;
  z-index: 5;
  /* Style to remove cursor to be replced by image that follows the mouse */
  cursor: none;
  /* Style to fit the video to the full window */
  object-fit: cover;
  font-family: 'object-fit: cover;';
  width: 100%;
  height: 100%;
  background-position: center center;
}

/* Styles for custom cursor: img with following mouse in jquery */
.cursor-custom {
  position: absolute;
  width: 74px;
  height: 16px;
  left: -100px;
  cursor: none;

  pointer-events: none;
}

/*---------------------------------------------
CONTENT
----------------------------------------------*/

/* Styles for flex layout*/
.content {
  justify-content: center;
  display: none;
  height: 100vh;
}

.second-screen .content {
  display: flex;
}

/* Styles for text on page*/
.text {
  margin-right: 75px;
  padding: 20px 0;
}

/* Styles to make project heading look like the others, but is not intearctive yet */
.text:hover {
  color: black;
}

/*---------------------------------------------
ACCORDION
----------------------------------------------*/
/* Styles for hovering the headings */
.accordion:not(.projects) .title:hover {
  color: rgb(128, 128, 128);
}

/* Styles for making the cursor a pointer when hovering clickable elements (the headings) */
.accordion:not(.projects) .title {
  cursor: pointer;
}

.accordion .heading * {
  border-bottom: solid black 1.5px;
}

.accordion.open .heading * {
  border-bottom: 0px;
}

/* Styles for making the cursor a default cursor when hovering the headings once the content has been expanded*/
.accordion .title.control {
  cursor: default;
}

.accordion .title.control:hover {
  color: inherit;
}

/* Styles for keeping the colour of the headings the same upon hovering the headings once the content has been expanded
.accordion.open .title.expand:hover {
  color: inherit;
}*/



/* Styles for displaying the close / open buttons when the content has been expanded */
.accordion.open .close {
  display: block;
}
.accordion.open .open {
  display: none;
}

/* Styles for adding the bottom border when a heading is open
.accordion.open.intro {
  border-bottom: solid black 1.5px;
}*/

/*---------------------------------------------
NAV
----------------------------------------------*/
/* Styles for hiding the content and the close buttons in the nav before click */
.intro,
.close {
  display: none;
}

.intro {
  border-bottom: solid black 1.5px;
}

.about .intro {
  display: block;
}

/* Styles for the headings in the nav*/
.heading {
  display: flex;
}

/* Styles for text in the headings in the nav*/
.title {
  width: 100%;
  padding: 20px 0px 13px 0;
}

/* Styles for open & close buttons */
.title.control {
  text-align: right;
  padding-right: 4px;
}

.coming-soon {
  text-align: right;
}

/*---------------------------------------------
DIV: LEFT COLUMN
----------------------------------------------*/
/* Styles for the width of the left column */
.col-left {
  flex-basis: 629px;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 20px;
}

.content .col-left {
  padding: 0 0 0 20px;
}

/*---------------------------------------------
SECTION: CONTACT
----------------------------------------------*/
.contact {
  background-color: rgb(255, 255, 255);
}

/* Styles for the contact details container */
.contact .intro {
  padding-top: 31px;
}

/* Styles for contact detail text */
.contact .text {
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0 0 30px 0;
}

/* Styles for the bottom lowercase information at bottom */
.contact .footnote {
  text-transform: none;
  padding-top: 21px;
}

/*---------------------------------------------
SECTION: ABOUT
----------------------------------------------*/
/* Styles for the bottom of the about section */
.padding-bottom {
  padding-bottom: 13px;
}

/*---------------------------------------------
DIV: RIGHT COLUMN
----------------------------------------------*/
/* Styles for the width of the right column */
.col-right {
  flex-basis: 894px;
  flex-grow: 1;
  flex-shrink: 1;

  background-color: rgb(0, 0, 0);
  color: white;

  height: 100vh;
}

.content .col-right {
  padding: 0 20px 0 20px;
}

/*---------------------------------------------
SECTION: PROJECTS
----------------------------------------------*/
/* Styles for the projects section*/
.projects .image {
  background-image: url(images/IMG_8375.JPG);
  background-size: cover;
  background-position: center center;
  height: auto;
  width: auto;
}

/*---------------------------------------------
FOOTER
----------------------------------------------*/
footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 17px;
  line-height: 21px;
}

/*---------------------------------------------
TABLET (landscape: 1024px / portrait: 768px)
----------------------------------------------*/
/* Tablet landscape */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 20px;
  }

  div .content {
    padding: 0px;
  }

  /*---------CONTAINERS--------- */
  /* Styles for the left and right columns */
  .col-left,
  .col-right  {
    flex-basis: 476px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .content, .col-left {
    padding: 0 0 0 18px;
  }

  .content .col-right {
    padding: 0 18px 0 18px;
  }

  /* Style for space between the left and right columns */
  .col-right {
    margin-right: 35px;
  }

  /* removing space to the right of the right column */
  .col-right {
    margin-right: 0px;
  }

  /* Styles for the projects image */
  .projects .image {
    min-height: 385px;
  }

  /*---------TEXT--------- */
  /* Styles for text in the headings in the nav*/
  .title {
    padding: 12px 0px 13px 0;
  }

  /* Styles for text on page*/
  .text {
    margin-right: 84px;
    padding: 0;
  }

  /* Styles for the about text container */
  .about .intro {
    padding: 0.5px 0 24px 0;
  }

  /* Styles for about text */
  .about .intro .text {
    padding-top: 14.5px;
  }

  /* Styles for the contact details container */
  .contact .intro {
    padding-top: 16px;
  }

  /* Styles for the contact detail text */
  .contact .intro .text {
    padding: 12.5px 0 12.5px 0;
    font-size: 14px;
    line-height: 17px;
  }

  /* Styles for the contact detail text */
  .contact .intro .footnote {
    padding-top: 28.5px;
  }

  /* Styles for the placeholder project text */
  .projects .placeholder {
    font-size: 43px;
    line-height: 30px;
  }
}

/* Tablet portrait */
@media (max-width: 768px) {
  /* Styles for the font size for the entire page */
  body {
    font-size: 21px;
    line-height: 25px;
  }
  /*---------CONTAINERS--------- */
  /* Styles for the content container (stacking columns) */
  .content {
    flex-wrap: wrap;
    max-width: 768px;
  }

  .content .col-left {
    padding: 0 15px 0 15px;
  }

  .content .col-right {
    padding: 0 15px 0 15px;
  }

  /* Styles for the left and right columns */
  .col-left,
  .col-right  {
    flex-basis: 602px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 0;
  }

  /* Styles for hiding the bottom border when the contact section is open*/
  .accordion.contact.open {
    border-bottom-width: 1.5px;
  }

  /*---------TEXT--------- */

  /* Styles for all titels */
  .title {
    padding: 14px 0px 17px 0;
  }

  /* Styles for all text */
  .text {
    margin-right: 10px;
    padding: 0;
  }

  /* Styles for the about text container */
  .about .intro {
    padding: 7.5px 0 24px 0;
  }

  /* Styles for about text */
  .about .intro .text {
    padding-top: 18.5px;
  }

  /* Styles for the contact details container */
  .contact .intro {
    padding: 17px 0 6px 0;
  }

  /* Styles for the contact detail text */
  .contact .intro .text {
    font-size: 17px;
    line-height: 21px;
  }

  .projects .title {
    margin-left: 0px;
  }

  footer {
  display: none;
  }
}



/*---------------------------------------------
MOBILE (landscape: 667px / portrait: 375px)
----------------------------------------------*/
/* Mobile landscape */
@media (max-width: 667px) {
  /*---------FONT SIZE FOR ENTIRE PAGE--------- */
  body {
    font-size: 21px;
    line-height: 25px;
  }

  .content {
    display: block;
  }

  .player {
    display: none;
  }
}
