// -------------------------------------------
// ACCORDION
// -------------------------------------------

.accordion {

  .col-left & {
    // horizontal lines
    //border-bottom: solid #333 1px;

    // hide last black horizontal line on mobile
    &.contact {
      @media (max-width: 768px) {
      //  border-bottom: 0;
      }
    }

    .heading {
      cursor: pointer;

      // grey title on hover
      &:hover .title {
        color: rgb(128, 128, 128);
      }

      // icon position
    //  .plus-minus {
      //  padding-right: px;
      //  @media (max-width: 768px) {
      //    padding-right: 0;
    //    }
      //}
    }

    // container holding the content in the accordion
    .panel {
      display: none;
    }

  }

  // logic to show-hide the plus-minus
  .minus {
    display: none;
  }
  &.open {
    .heading{
    //  border-bottom: solid #333 1px;
    }
    .minus {
      display: block;
    }
    .plus {
      display: none;
    }
  }
}
