// ACCORDION
// -------------------------------------------

.accordion:not(.projects) .title:hover {
  color: rgb(128, 128, 128);
}

.accordion:not(.projects) .title {
  cursor: pointer;
}

.accordion {
  border-bottom: solid black 1.5px;
}

.accordion .title.control {
  cursor: default;
}

.accordion .title.control:hover {
  color: inherit;
}

.accordion.open .close {
  display: block;
}

.accordion.open .open {
  display: none;
}

// Styles for open & close buttons
.control {
  padding: 15px 10px 15px 0;
}
