//-------------------------------------------
// ENTIRE PAGE
// -------------------------------------------

body {
  // background colour
  background-color: rgb(255, 255, 255);
  font-family: 'TheinhardtRegular', sans-serif;
  font-size: 21px;
  line-height: 25px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;

  // disable scrolling
  overflow: hidden;
  cursor: default;
    &.second-screen {
      // enable scrolling when class second-screen is added
      overflow: auto;
    }
  @media (max-width: 1024px) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (max-width: 768px) {
    font-size: 21px;
    line-height: 25px;
    overflow: auto;
  }
  //@media (max-width: 667px) {
  //  font-size: 21px;
  //  line-height: 25px;
  //}
}

// all links
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  &:hover {
    color: rgb(128, 128, 128);
    cursor: pointer;
  }
}

// -------------------------------------------
// IMAGE
// -------------------------------------------

img {
  width: 100%;
}

// -------------------------------------------
// CONTAINERS
// -------------------------------------------

// container that holds all content on the page
.container {
  min-height: 100vh;
}

// container for columns right and left
.content {
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  min-height: 100vh;
  @media (max-width: 1024px) {
    padding: 0px;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
    max-width: 768px;
  }
  @media (max-width: 667px) {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .second-screen & {
    visibility: visible;
    opacity: 1;
    transition: opacity 3.5s;
  }
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 20px;
  @media (max-width: 1024px) {
    padding-left: 18px;
  }
}

// container for the left hand content (left column)
.col-left {
  flex-basis: 629px;
  display: flex;
  flex-direction: column;
  @media (max-width: 1024px) {
    flex-basis: 476px;
  }
  @media (max-width: 768px) {
    flex-basis: 602px;
    margin-right: 0;
    padding: 0 15px;
  }
}


// container for the right hand content (right column)
.col-right {
  flex-basis: 894px;
  background-color: rgb(0, 0, 0);
  color: white;
  min-height: 100vh;
  @media (max-width: 1024px) {
    margin-right: 0px;
    flex-basis: 476px;
  }
  @media (max-width: 768px) {
    margin-right: 0;
    padding: 0 15px;
  }
}

// container holding the title and the +/- in the menu
.heading {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  @media (max-width: 1024px) {
    padding-top: 12px;
    padding-bottom: 13px;
  }
  @media (max-width: 768px) {
    position: sticky;
    top: 0;
    padding-top: 14px;
    padding-bottom: 17px;
  }
  .col-left & {
    background-color: #fff;
  }
}

// container holding the content in the accordion
.panel {
  display: none;
}

// container for the copyright at the bottom of page
.copyright {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  font-size: 17px;
  line-height: 21px;
  @media (max-width: 1024px) {
    padding-top: 30px;
  }
  @media (max-width: 768px) {
    display:none;
  }
}

.copyright-contacts {
  display: none;
  @media (max-width: 1024px) {
    display: none;
  }
  @media (max-width: 768px) {
    display: block;
    font-size: 17px;
    line-height: 21px;
  }
}

// -------------------------------------------
// CONTENT
// -------------------------------------------

// menu item headings
.title {
  width: 100%;
}

// all text
.text {
  margin-right: 20px;
  padding-bottom: 10px;
  &:hover {
    color: black;
  }
  @media (max-width: 1024px) {
    margin-right: 84px;
    padding: 0;
  }
  @media (max-width: 768px) {
    margin-right: 10px;
  }
}

.panel {
  padding-bottom: 10px;
}

// copyright text at the bottom of page
.footnote {
  flex: 1 1 auto;
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 18px;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 17px;
  }
  @media (max-width: 768px) {// in this size the copyright needs to be inside the line
    font-size: 14px;
    line-height: 17px;
  }
}


// -------------------------------------------
// SECTION: ABOUT
// -------------------------------------------

// container holding content and content inside
.about .panel {
  display: block;
  @media (max-width: 1024px) {
    padding-top: 1px;
    padding-bottom: 24px;
  }
  @media (max-width: 768px) {
    padding-top: 8px;
    display: none;
  }
  .text {
    @media (max-width: 1024px) {
      padding-top: 15px;
    }
    @media (max-width: 768px) {
      padding-top: 19px;
    }
  }
}

// -------------------------------------------
// SECTION: CONTACT
// -------------------------------------------

// container holding content
.contact .panel {
  padding-top: 16px;
  @media (max-width: 768px) {
    padding-top: 17px;
    padding-bottom: 6px;
  }
  .text {
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      padding: 13px 0;
      font-size: 14px;
      line-height: 17px;
    }
    @media (max-width: 768px) {
      font-size: 17px;
      line-height: 21px;
    }
  }
}

// coming soon placeholder (for the +/-)
.coming-soon {
  text-align: right;
  width: 220px;
}

// lowercase information at bottom of contact
.contact .text.acknowlegement {
  text-transform: none;
  padding-top: 15px;
  padding-bottom: 10px;
  @media (max-width: 1024px) {
    padding: 0px;
  }
}
