
// -------------------------------------------
// ENTIRE PAGE
// -------------------------------------------
// Styles for container of both video and content
body {
  // Styles for background
  background-color: rgb(255, 255, 255);

  // Styles for type
  font-family: 'TheinhardtRegular', sans-serif;
  font-size: 20.5px;
  line-height: 24.5px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  letter-spacing: 0.05em;
  overflow: hidden;
  cursor: default;

  @media (max-width: 667px) {
    font-size: 21px;
    line-height: 25px;
  }
}

body.second-screen {
  overflow: auto;
}

// Styles for container that holds all content on the page
.container {
  min-height: 100vh;
}

// Style for images
img {
  width: 100%;
}

// Styles for links
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

// Styles for links on hover
a:hover {
  color: rgb(128, 128, 128);
  cursor: pointer;
}


// -------------------------------------------
// CONTENT
// -------------------------------------------

// Styles for flex layout
.content {
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  min-height: 100vh;
  @media (max-width: 1024px) {
    div .content {
      padding: 0px;
    }
  }
  @media (max-width: 667px) {
    .content {
      display: block;
    }
  }

  .second-screen & {
    visibility: visible;
    opacity: 1;
    transition: opacity 3.5s ease-in;
  }
}

// Styles for text on page
.text {
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

// Styles to make project heading look like the others, but is not intearctive yet
.text:hover {
  color: black;
}

// Styles for text in the headings in the nav
.title {
  width: 100%;
  padding: 15px 0px 15px 0;
}


// -------------------------------------------
// DIV: LEFT COLUMN
// -------------------------------------------
// Styles for the width of the left column
.col-left {
  flex-basis: 629px;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 20px;

  display: flex;
  flex-direction: column;
}

.content .col-left {
  padding: 0 0 0 20px;
}

// -------------------------------------------
// DIV: RIGHT COLUMN
// -------------------------------------------
// Styles for the width of the right column
.col-right {
  flex-basis: 894px;
  flex-grow: 1;
  flex-shrink: 1;

  background-color: rgb(0, 0, 0);
  color: white;

  min-height: 100vh;
}

.content .col-right {
  padding: 0 20px 0 20px;
}



// -------------------------------------------
// SECTION: CONTACT
// -------------------------------------------
.contact {
  background-color: rgb(255, 255, 255);
}

// Styles for contact detail text
.contact .text {
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
}

// Styles for the bottom lowercase information at bottom
.contact .acknowlegement {
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
