//-------------------------------------------
// ENTIRE PAGE
// -------------------------------------------

body {
  // background colour
  background-color: rgb(255, 255, 255);
  font-family: 'TheinhardtRegular', sans-serif;
  font-size: 20.5px;
  line-height: 24.5px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  letter-spacing: 0.05em;
  // disable scrolling
  overflow: hidden;
  cursor: default;
    &.second-screen {
      // enable scrolling when class second-screen is added
      overflow: auto;
    }
  @media (max-width: 1024px) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (max-width: 768px) {
    font-size: 21px;
    line-height: 25px;
  }
  //@media (max-width: 667px) {
  //  font-size: 21px;
  //  line-height: 25px;
  //}
}

// all links
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  &:hover {
    color: rgb(128, 128, 128);
    cursor: pointer;
  }
}

// -------------------------------------------
// IMAGE
// -------------------------------------------

img {
  width: 100%;
}

// -------------------------------------------
// CONTAINERS
// -------------------------------------------

// container that holds all content on the page
.container {
  min-height: 100vh;
}

// container for columns right and left
.content {
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  min-height: 100vh;
  @media (max-width: 1024px) {
    padding: 0px;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
    max-width: 768px;
  }
  @media (max-width: 667px) {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .second-screen & {
    visibility: visible;
    opacity: 1;
    transition: opacity 3.5s;
  }
}

// container for the left hand content (left column)
.col-left {
  flex-basis: 629px;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
  @media (max-width: 1024px) {
    padding-left: 18px;
    flex-basis: 476px;
  }
  @media (max-width: 768px) {
    flex-basis: 602px;
    margin-right: 0;
    padding: 0 15px;
  }
}


// container for the right hand content (right column)
.col-right {
  flex-basis: 894px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: rgb(0, 0, 0);
  color: white;
  min-height: 100vh;
  padding: 0 20px;
  @media (max-width: 1024px) {
    padding: 0 18px;
    margin-right: 0px;
    flex-basis: 476px;
  }
  @media (max-width: 768px) {
    flex-basis: 602px;
    margin-right: 0;
    padding: 0 15px;
  }
}

// container holding the title and the +/- in the menu
.heading {
  display: flex;
}

// container holding the content in the accordion
.panel {
  padding-bottom: 10px;
  display: none;
}

// the minus and plus 
.close {
  display: none;
}

// container for the copyright at the bottom of page
.copyright {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  font-size: 17px;
  line-height: 21px;
  @media (max-width: 1024px) {
    padding-top: 30px;
  }
}
