// -------------------------------------------
// MOBILE (landscape: 667px / portrait: 375px)
// -------------------------------------------
// Mobile landscape
@media (max-width: 667px) {
  //---------FONT SIZE FOR ENTIRE PAGE---------
  body {
    font-size: 21px;
    line-height: 25px;
  }

  .content {
    display: block;
  }

  .player {
    display: none;
  }
}
