// -------------------------------------------
// SECTION: PROJECTS
// -------------------------------------------
// Styles for the projects section

.projects {

  .image {
    height: 635px;
    margin-top: 16px;
    margin-bottom: 20px;
    background-image: url('https://njons.github.io/Organ-Studio-website/images/IMG_8375.JPG');
    background-size: cover;
    background-position: center center;
    @media (max-width: 667px) {
      height: 385px;
      margin-top: 0;
    }
  }
}
