// -------------------------------------------
// SECTION: PROJECTS
// -------------------------------------------
// Styles for the projects section

.projects {

  .image {
    height: 635px;
    margin-top: 14px;
    margin-bottom: 20px;
    background-image: url('/images/IMG_8375.JPG');
    background-size: cover;
    background-position: center center;
    @media (max-width: 870px) {
      height: 385px;
    }
  }
}
