// -------------------------------------------
// SECTION: PROJECTS
// -------------------------------------------
// Styles for the projects section
.projects .image {
  background-image: url(images/IMG_8375.JPG);
  background-size: cover;
  background-position: center center;
  height: auto;
  width: auto;
}
