// -------------------------------------------
// TABLET (landscape: 1024px / portrait: 768px)
// -------------------------------------------
// Tablet landscape
@media (max-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 20px;
  }

  div .content {
    padding: 0px;
  }

  //---------CONTAINERS---------
  // Styles for the left and right columns
  .col-left,
  .col-right  {
    flex-basis: 476px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .content, .col-left {
    padding: 0 0 0 18px;
  }

  .content .col-right {
    padding: 0 18px 0 18px;
  }

  // Style for space between the left and right columns
  .col-right {
    margin-right: 35px;
  }

  // removing space to the right of the right column
  .col-right {
    margin-right: 0px;
  }

  // Styles for the projects image
  .projects .image {
    min-height: 385px;
  }

  //---------TEXT---------
  // Styles for text in the headings in the nav
  .title {
    padding: 12px 0px 13px 0;
  }

  // Styles for text on page
  .text {
    margin-right: 84px;
    padding: 0;
  }

  // Styles for the about text container
  .about .intro {
    padding: 0.5px 0 24px 0;
  }

  // Styles for about text
  .about .intro .text {
    padding-top: 14.5px;
  }

  // Styles for the contact details container
  .contact .intro {
    padding-top: 16px;
  }

  // Styles for the contact detail text
  .contact .intro .text {
    padding: 12.5px 0 12.5px 0;
    font-size: 14px;
    line-height: 17px;
  }

  // Styles for the contact detail text
  .contact .intro .footnote {
    padding-top: 30px;
  }

  // Styles for the placeholder project text
  .projects .placeholder {
    font-size: 43px;
    line-height: 30px;
  }
}

// Tablet portrait
@media (max-width: 768px) {
  // Styles for the font size for the entire page
  body {
    font-size: 21px;
    line-height: 25px;
  }
  //---------CONTAINERS---------
  // Styles for the content container (stacking columns)
  .content {
    flex-wrap: wrap;
    max-width: 768px;
  }

  .content .col-left {
    padding: 0 15px 0 15px;
  }

  .content .col-right {
    padding: 0 15px 0 15px;
  }

  // Styles for the left and right columns
  .col-left,
  .col-right  {
    flex-basis: 602px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 0;
  }

  //---------TEXT---------

  // Styles for all titels
  .title {
    padding: 14px 0px 17px 0;
  }

  // Styles for all text
  .text {
    margin-right: 10px;
    padding: 0;
  }

  // Styles for the about text container
  .about .intro {
    padding: 7.5px 0 24px 0;
  }

  // Styles for about text
  .about .intro .text {
    padding-top: 18.5px;
  }

  // Styles for the contact details container
  .contact .intro {
    padding: 17px 0 6px 0;
  }

  // Styles for the contact detail text
  .contact .intro .text {
    font-size: 17px;
    line-height: 21px;
  }

  .projects .title {
    margin-left: 0px;
  }

  footer {
  display: none;
  }
}
